/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Estilos del contenedor */

.contenedor {
    display: flex;
    flex-direction: row; /* Align elements horizontally */
    align-items: center; /* Align elements vertically */
    justify-content: space-between; /* Space elements evenly with margins */
    height: 100vh;
}

/* Estilos de la imagen */

.imagen {
    width: 40%; /* Adjust width as needed */
    height: auto;
    margin-right: 20px; /* Add margin for spacing */
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 

/* Estilos del texto */

.texto {
    width: 20%; /* Adjust width as needed */
    text-align: left; 
    align-items: center;
    left: 200px;
}

.titulo {
    text-align: center;
    padding: 20px;
}

.titulo h1 {
    font-size: 2em;
    font-weight: bold;
}

.parrafo {
    padding: 20px;
}

.parrafo p {
    font-size: 1.5em;
}